* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
  scroll-behavior: smooth; }

.navMobile {
  display: none;
  z-index: 3;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  background-color: #FF9B12; }

.navMobile__close {
  width: 40px;
  padding: 5px 0 0 5px;
  cursor: pointer; }

.navMobile__logo {
  width: 50%;
  margin: 8vh 25% 0 25%; }

.navMobile__list {
  margin-top: 15vh; }
  .navMobile__list ul li {
    text-align: center;
    margin: 5vh; }
    .navMobile__list ul li a {
      font-family: futura;
      font-size: 2em;
      color: white;
      line-height: normal; }

.navMobile__list--hover:hover {
  background-color: white; }
  .navMobile__list--hover:hover a {
    color: #FF9B12; }

.navMobile__social {
  position: absolute;
  bottom: 0;
  width: 100%; }
  .navMobile__social img {
    width: 10%;
    margin: 0 11.25%; }

.menu {
  width: 90%;
  margin: 50px 5% 0 5%; }

.menu__content {
  display: block; }

.menu__header {
  text-align: center; }
  .menu__header h4 {
    color: #FF9B12; }

.menu__selectors {
  width: 100%;
  height: 50px; }
  .menu__selectors h3 {
    float: left;
    cursor: pointer; }
  .menu__selectors img {
    width: 14px;
    height: 14px;
    float: left;
    margin: 8px 0 0 10px; }

.menu__change {
  width: 177.52px;
  position: absolute;
  background-color: white;
  margin-top: -52px;
  display: none; }
  .menu__change ul li {
    font-family: futura;
    font-size: 1.3em;
    color: black;
    line-height: 50px;
    cursor: pointer; }

.menu__change--hover:hover {
  color: white;
  background-color: #FF9B12; }

.menu__item {
  width: 100%; }

.menu__item--price {
  float: right;
  display: inline;
  width: 20%;
  text-align: right; }

.menu__item--price::after {
  clear: button; }

.menu__item--text {
  display: inline;
  float: left;
  width: 80%; }

.menu__item--text::after {
  clear: both; }

.menu__book {
  width: 100vw; }
  .menu__book button {
    width: 40%;
    background-color: #FF9B12;
    padding: 10px;
    margin: 50px 30%;
    border-radius: 20px;
    cursor: pointer;
    font-family: futura;
    font-size: 1em;
    color: white;
    line-height: inherit; }

.menu__content--LB {
  display: block; }

.menu__content--SP {
  display: none; }

#menu__header--LB {
  display: block; }

#menu__header--SP {
  display: none; }

@media only screen and (min-width: 650px) {
  .menu__book button {
    width: 24%;
    margin: 50px 38%; } }
@media only screen and (min-width: 1000px) {
  .menu__item {
    width: 46%;
    float: left;
    margin: 0 2%; }

  .menu__book button {
    width: 16%;
    margin: 50px 42%; } }
.header {
  width: 100%;
  height: 100vh;
  background-image: url("../images/food1.jpeg");
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */ }

.header__logo {
  width: 80%;
  margin: 8vh 10% 0 10%;
  z-index: 1; }

.navDesktop {
  display: none;
  margin-top: 8vh; }
  .navDesktop ul {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    width: 840px;
    padding: 10px 0;
    margin: 0 auto; }
    .navDesktop ul li {
      text-align: center;
      margin: 5vh;
      display: inline; }
      .navDesktop ul li a {
        font-family: futura;
        font-size: 2em;
        color: white;
        line-height: normal; }

.navDesktop__link:hover {
  color: #FF9B12; }

.scroll {
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 20px;
  z-index: 1; }
  .scroll .scroll__img {
    width: 50px; }

.header__hours {
  padding-top: 20px;
  text-align: center;
  width: 60%;
  margin: 12vh auto 0 auto;
  background-color: rgba(0, 0, 0, 0.4); }
  .header__hours h2 {
    color: white; }
  .header__hours p {
    color: white; }

.header__location {
  padding-top: 12vh;
  padding-bottom: 20px;
  text-align: center;
  width: 60%;
  color: white;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.4); }
  .header__location h2 {
    color: white; }
  .header__location p {
    color: white; }

@media only screen and (min-width: 650px) {
  .header__logo {
    width: 50%;
    margin: 8vh 25% 0 25%;
    z-index: 1; }

  .header__hours, .header__location {
    width: 35%; } }
@media only screen and (min-width: 1000px) {
  .header__hours {
    float: left;
    padding: 20px 0;
    width: 20%;
    height: 184px;
    margin: 8vh 0 0 30%; }

  .header__location {
    float: left;
    padding: 20px 0;
    width: 20%;
    height: 184px;
    margin: 8vh 30% 0 0%; }

  .navDesktop {
    display: block; } }
footer {
  width: 100%;
  height: 252px;
  background-color: #FF9B12; }

.footer__social {
  width: 60px;
  float: left; }
  .footer__social img {
    width: 100%;
    margin: 10px; }

.footer__hours {
  padding-top: 25px;
  text-align: center;
  color: white; }
  .footer__hours h2 {
    color: white; }
  .footer__hours p {
    color: white; }

.footer__location {
  text-align: center;
  color: white;
  padding-top: 40px; }
  .footer__location h2 {
    color: white; }
  .footer__location p {
    color: white; }

@media only screen and (min-width: 650px) {
  .footer__hours, .footer__location {
    float: left;
    width: 30%;
    margin: 80px auto 0 10%;
    padding: 0; } }
body {
  padding-top: 20px; }

h2 {
  font-family: futura;
  font-size: 2em;
  color: black;
  line-height: normal; }

h3 {
  font-family: futura;
  font-size: 1.3em;
  color: black;
  line-height: normal; }

p {
  font-family: futura;
  font-size: 1em;
  color: black;
  line-height: 1.3em; }

b {
  font-family: futura;
  font-size: 1em;
  color: black;
  line-height: inherit; }

.burger {
  display: block;
  width: 100%;
  padding: 5px 0 2px 5px;
  background-color: #FF9B12;
  position: fixed;
  top: 0;
  z-index: 2; }

.burger__img {
  width: 40px;
  cursor: pointer; }

.homeAbout {
  text-align: center;
  width: 90%;
  margin: 50px 5% 0 5%; }
  .homeAbout img {
    width: 100%;
    padding: 20px 0; }
  .homeAbout p {
    text-align: left; }

.homeAbout__more {
  width: 100%; }
  .homeAbout__more button {
    width: 40%;
    background-color: #FF9B12;
    padding: 10px;
    margin: 20px 30%;
    border-radius: 20px;
    cursor: pointer;
    font-family: futura;
    font-size: 1em;
    color: white;
    line-height: inherit; }

@media only screen and (min-width: 650px) {
  .homeAbout__content {
    float: left;
    width: 50%;
    height: 50vw; }

  .homeAbout img {
    width: 50%;
    padding: 20px 5% 20px 0;
    float: left; }
  .homeAbout p {
    padding: 20px 0; }

  .homeAbout__more {
    width: 100%;
    float: left; }
    .homeAbout__more button {
      width: 40%;
      background-color: #FF9B12;
      padding: 10px;
      margin: 0;
      border-radius: 20px;
      cursor: pointer; }

  .homeAbout__more::after {
    clear: both; } }
@media only screen and (min-width: 1000px) {
  .burger {
    display: none; }

  body {
    padding: 0; } }

/*# sourceMappingURL=style.css.map */
