footer{
  width: 100%;
  height: 252px;
  background-color: $color1;
}

.footer__social{
  width: 60px;
  float: left;
  img{
    width: 100%;
    margin: 10px;
  }
}

.footer__hours{
  padding-top: 25px;
  text-align: center;
  color: $color2;

}

.footer__location{
  text-align: center;
  color: $color2;
  padding-top: 40px;
}


@media only screen and (min-width: 650px){
  .footer__hours, .footer__location{
    float: left;
    width: 30%;
    margin: 80px auto 0 10%;
    padding: 0;
  }
}
