.header{
  width: 100%;
  height: 100vh;
  background-image: url("../images/food1.jpeg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.header__transImg{
  width: 60%;
  height: 50vh;
  position: relative;
  top: 300px;
  left: 250px;
  z-index: 0;
}


.header__logo{
  width: 80%;
  margin: 8vh 10% 0 10%;
  z-index: 1;
}

.navDesktop{
  display: none;
}

.scroll{
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 20px;
  z-index: 1;
  .scroll__img{
    width: 50px;
  }
}

.header__hours{
  padding-top: 20px;
  text-align: center;
  width: 60%;
  color: $color2;
  margin: 12vh auto 0 auto;
  background-image: url(../images/rectangle2.png);
}

.header__location{
  padding-top: 12vh;
  padding-bottom: 20px;
  text-align: center;
  width: 60%;
  color: $color2;
  margin: auto;
  background-image: url(../images/rectangle2.png);
}

@media only screen and (min-width: 650px){

  .header__logo{
    width: 50%;
    margin: 8vh 25% 0 25%;
    z-index: 1;
  }

  .header__hours, .header__location{
    width: 35%
  }
}

@media only screen and (min-width: 1000px){
  .header__hours{
    float: left;
    padding: 20px 0;
    text-align: center;
    width: 20%;
    color: $color2;
    margin: 8vh 0 0 30%;
    background-image: url(../images/rectangle2.png);
  }

  .header__location{
    float: left;
    padding: 20px 0;
    text-align: center;
    width: 20%;
    color: $color2;
    margin: 8vh 30% 0 0%;
    background-image: url(../images/rectangle2.png);
  }

  .navDesktop{
    display: block;
    margin-top: 8vh;
    ul{
      text-align: center;
      background-image: url(../images/rectangle2.png);
      li{
        text-align: center;
        color: $color2;
        font-family: monospace;
        font-size: $fontH;
        margin: 5vh;
        display: inline;
      }
    }
  }
}
