.menu{
  width: 90%;
  margin: 50px 5% 0 5%;
}

.menu__content{
  display: block;
}


.menu__header{
  text-align: center;
}


.menu__selectors{
  width: 100%;
  height: 50px;
  h3{
    float: left;
  }
    img{
      width: 1em;
      height: 1em;
      float: left;
      margin: 3px 0 0 10px;
    }
}


.menu__item{
  width: 100%;
}

.menu__item--price{
  float: right;
  display: inline;
  width: 20%;
  text-align: right;
}

.menu__item--price::after{
  clear: button;
}

.menu__item--text{
  display: inline;
  float: left;
  width: 80%;
}

.menu__item--text::after{
  clear: both;
}

.menu__book{
  width: 100vw;
  button{
    width: 40%;
    background-color: $color1;
    padding: 10px;
    margin: 50px 30%;
    border-radius: 20px;
    cursor: pointer;
  }
  button:active{
    background-color: white;
  }
}




@media only screen and (min-width: 650px){
  .menu__book{
    button{
      width: 24%;
      margin: 50px 38%;
    }
  }
}



@media only screen and (min-width: 1000px){
  .menu__item{
    width: 46%;
    float: left;
    margin: 0 2%;
  }

  .menu__book{
    button{
      width: 16%;
      margin: 50px 42%;
    }
  }
}
