// PARTIALS

@import 'reset';
@import 'variables';
@import 'mixins';
@import 'nav';
@import 'menu';
@import 'heading';


body{
  // background-color: grey;
  padding-top: 20px;
}

h2{

}

h3{

}


.burger{
  width: 100%;
  padding: 5px 0 2px 5px;
  background-color: $color1;
  position: fixed;
  top: 0;
  z-index: 2;
}

.burger__img{
  width: 40px;
}
